.navbar{background-color: blue; padding: 30px; display: flex; justify-content: space-between; border-radius: 40px;}
a{text-decoration-line: none;color: red;}
.mylistitems{list-style: none;}
.good{display: flex; gap:100px;}
/* .logo{height: 150px;width: auto;} */
.marvo{margin-left: 40px;color: white;}
.mybutton{margin-right: 50px;}
button{border-radius: 100px;padding: 20px;}
.change{height: 150px;width: 200px;}
.change img{height: 100%;width: auto;}
.mary img{height: 100%;width: auto;}
.menu img{height: 100%;width: auto;}